services:
  wordsworth:
    container_name: wordsworth
    image: gordywills/wordsworth:latest
    pull_policy: always
    restart: "no"
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    working_dir: /app
    environment:
      - APP__LOG_LEVEL=INFO
      - APP__ARCHIVE_FOLDER=archive
      - APP__DATA_FOLDER=data
      - APP__PROJECT_SETTINGS=project_settings.json
      - APP__INPUT_FILENAME=wordlist.json
      - APP__DATA_FILENAME=puzzledata.json
      - APP__OUTPUT_FILENAME=manuscript.pdf
      - APP__FRONTEND_HOST_FOR_CORS=http://localhost:5001
      - VITE_API_BASE_URL=http://localhost:5000

        # Not currently used, but stand by
      - AI__MODEL=gemma3:12b
      - AI__HOST=http://localhost:11434/

  dorothy:
    container_name: dorothy
    image: gordywills/dorothy:latest
    pull_policy: always
    restart: "no"
    volumes:
      - .:/app
    ports:
      - "5001:5001"
    working_dir: /app/frontend
    environment:
      - VITE_API_BASE_URL=http://localhost:5000