{
  "dpi": 800,
  "page_height_inches": 9.61,
  "page_width_inches": 6.69,
  "top_margin_inches": 0.25,
  "bottom_margin_inches": 0.25,
  "outer_margin_inches": 0.25,
  "inner_margin_inches": 0.75,
  "title_box_height_inches": 1.0,
  "title_font_size_inches": 0.3,
  "wordlist_box_height_inches": 2.0,
  "wordlist_font_size_inches": 0.14,
  "wordlist_line_spacing_inches": 0.02,
  "grid_pad_inches": 0.0,
  "grid_border_inches": 0.05,
  "grid_border_radius_inches": 0.15,
  "grid_margin_inches": 0.15,
  "cell_font_size_inches": 0.14,
  "min_cell_size_factor": 1.5,
  "variable_cell_size": false,
  "max_cell_size_factor": 2,
  "long_fact_heading_font_size_inches": 0.28,
  "long_fact_content_font_size_inches": 0.14,
  "long_fact_line_spacing_inches": 0.02,
  "page_number_font_size_inches": 0.14,
  "page_number_offset_inches": 0.1,
  "solution_page_cols": 2,
  "solution_page_rows": 3,
  "solution_page_banner_height_inches": 0.5,
  "solution_page_banner_font_size_inches": 0.4,
  "max_density": 0.50,
  "min_density": 0.30,
  "max_placement_attempts": 10000,
  "enable_profanity_filter": true
}