name: Qodana
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches: # Specify your branches here
      - main # The 'main' branch
      - 'releases/*' # The release branches

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
      security-events: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          pr-mode: false
          upload-result: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_2091917177 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
      - name: Grab Issues Number
        if: ${{ (success() || failure()) && contains(github.ref, 'main') }}
        run: |
          myjson=$(cat ${{ runner.temp }}/qodana/results/qodana.sarif.json)
          total=$(echo $myjson | jq -r '.runs[0].properties.qodanaNewResultSummary | if (.total) then .total else 0 end')
          critical=$(echo $myjson | jq -r '.runs[0].properties.qodanaNewResultSummary | if (.critical) then .critical else 0 end')
          echo "ISSUES=${total}(${critical})" >> $GITHUB_ENV
          echo "CRIT=${critical}" >> $GITHUB_ENV
      - name: Create Awesome Qodana Badge
        if: ${{ (success() || failure()) && contains(github.ref, 'main') }}
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST2_SECRET }}
          gistID: e530f17b6f8744b1a720db17ebda376d
          filename: qodana.json
          label: Qodana
          message: ${{ env.ISSUES }}
          color: ${{ env.CRIT == '0' && 'green' || 'red' }}